body {
  font-size: 16px;
  margin: 1em;

}

nav {
	position: absolute;
	top: 2em;
	right: 2em;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	float: left;
	position: relative;
	border: 1px solid white;
	padding: 5px;
	width: 115px;
	text-align: center;
  background-color: black;
}
nav ul li a {
  color: white;
	text-decoration: none;
	display: block;
}
nav ul li:hover {
	background-color: #00ccff;
}
nav ul ul {
	padding: 0;
	list-style: none;
	position: absolute;
	left: -9999px;
}

#footer {
/*  display: inline-block;
  text-align: center; */
  position: relative;
  display: block;
}

#form {
  width: 400px;
  float: center;
  margin: 10px;
  border-bottom: 1px, solid #efefef;
/*  padding-top: 1em;
  padding-left: 10em; */
}
.title {
  float: left;
  width: 100px;
  padding-right: 10px;
}
#form p {

}

#submit {
  padding: 5px;
  color: white;
  background-color: black;
}
#submit:hover {
  background-color: #00ccff;
}
